<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/upma.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="angular-logo">
                  <!-- add logo here in img src -->
                    <img src="" alt="">
                </div>
                <h1 class="presentation-title">Recipe Bazar</h1>
            </div>

            <h2 class="presentation-subtitle text-center">Food blog</h2>
        </div>
    </div>
</div>

</div>
