<div class="container-fluid recipeCardBody">
  <br>
<div class="row">
  <div class="col-md-12 text-center">
    <h3> <strong>Trending Recipes</strong></h3>
  </div>
</div>
<br>
  <div class="row">
      <div class="col-md-3">
        <a class="" [routerLink]="['/upma']">
          <img src="assets/img/upma.png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
          <h4>Upma</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a class="" [routerLink]="['/bhindifry']">
          <img src="assets/img/bhindi.png" style="width: 273px; height: 274px; border-radius: 2%;" alt="upma">
          <h4>Bhindi Fry</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a class="" [routerLink]="['/bhindifry']">
          <img src="assets/img/chivda.png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
          <h4>Chivda | Atukulu</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a class="" [routerLink]="['/bhindifry']">
          <img src="assets/img/masalaomlette (1).png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
          <h4>Masala Omlette</h4>
        </a>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <img src="assets/img/upma.png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
      <h4>Upma</h4>
    </div>
    <div class="col-md-3">
      <img src="assets/img/upma.png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
      <h4>Upma</h4>
    </div>
    <div class="col-md-3">
      <img src="assets/img/upma.png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
      <h4>Upma</h4>
    </div>
    <div class="col-md-3">
      <img src="assets/img/upma.png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
      <h4>Upma</h4>
    </div>
  </div>
</div>
