<div class="container-fluid recipeCardBody">
  <br>
<div class="row">
  <div class="col-md-12 text-center">
    <h3> <strong>Trending Recipes</strong></h3>
  </div>
</div>
<br>
  <div class="row">
      <div class="col-md-3 homgRecipeImg recipeHeading">
        <a class="" [routerLink]="['/upma']">
          <img src="assets/img/upma.png" alt="upma">
          <h5 style="margin-top: 5%;">Upma recipe | Rava Upma recipe | Suji Upma recipe | Jidipappu Upma recipe </h5>
        </a>
      </div>
      <div class="col-md-3 homgRecipeImg recipeHeading">
        <a class="" [routerLink]="['/bhindifry']">
          <img src="assets/img/bhindi.png" alt="upma">
          <h5 style="margin-top: 5%;">Bhindi Fry recipe | Bendakaya Fry recipe </h5>
        </a>
      </div>
      <div class="col-md-3 homgRecipeImg recipeHeading">
        <a class="" [routerLink]="['/bhindifry']">
          <img src="assets/img/chivda.png" alt="upma">
          <h5 style="margin-top: 5%;">Chivda recipe | Roasted Poha Chivda recipe | Atukulu Mixture recipe</h5>
        </a>
      </div>
      <div class="col-md-3 homgRecipeImg recipeHeading">
        <a class="" [routerLink]="['/bhindifry']">
          <img src="assets/img/masalaomlette (2).jpg" alt="upma">
          <h5 style="margin-top: 5%;">Masala Omlette recipe | Spicy Masala Omlette recipe</h5>
        </a>
      </div>
  </div>
  <br>
  <div class="row">
    <!-- <div class="col-md-3">
      <img src="assets/img/upma.png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
      <h4>Upma</h4>
    </div>
    <div class="col-md-3">
      <img src="assets/img/upma.png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
      <h4>Upma</h4>
    </div>
    <div class="col-md-3">
      <img src="assets/img/upma.png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
      <h4>Upma</h4>
    </div>
    <div class="col-md-3">
      <img src="assets/img/upma.png" style="width: 100%; height: auto; border-radius: 2%;" alt="upma">
      <h4>Upma</h4>
    </div> -->
  </div>
</div>
