<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" style="background-image: url(assets/img/confectionary.png); border-bottom:1px grey black;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/BrandName.png" class="d-inline-block align-top brandLogo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto listspace">
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
          href="https://www.instagram.com/" target="_blank">
          <i class="fa fa-instagram"></i>
          <p class="d-lg-none">Instagram</p>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
          href="https://www.facebook.com/" target="_blank">
          <i class="fa fa-facebook-square"></i>
          <p class="d-lg-none">Facebook</p>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
          href="https://twitter.com/" target="_blank">
          <i class="fa fa-twitter"></i>
          <p class="d-lg-none">Twitter</p>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Subscribe to our Youtube Channl" data-placement="bottom"
          href="https://www.youtube.com/" target="_blank">
          <i class="fa fa-youtube"></i>
          <p class="d-lg-none">Youtube</p>
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
