<div class="row">
  <div class="col-md-12">
   <h3><strong>Tried this recipe?</strong> </h3>
   <i class="fa fa-instagram instacolor recipeSocialMediaSize"></i><span style="margin: 1% 2%;">Take a picture of the food and mention us @recipe_bazar</span>
   <br>
   <i class="fa fa-facebook-square recipeSocialMediaSize" style="color: rgb(55, 105, 199)"></i><span style="margin: 1% 2%;">Share the recipe  <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.recipebazar.com%2Fupma&layout=button&size=large&width=77&height=28&appId"
    width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
    allowTransparency="true" allow="encrypted-media"></iframe></span>
    <br>
    <i class="fa fa-twitter recipeSocialMediaSize" style="color: rgb(16, 139, 221);"></i><span style="margin: 1% 2%;">Take a picture of the food and mention us @recipe_bazar</span>
    <br>
    <i class="fa fa-pinterest recipeSocialMediaSize" style="color:rgb(133, 4, 4)"></i><span style="margin: 1% 2%;">Save our recipe <a data-pin-do="buttonFollow" href="https://in.pinterest.com/recipebazar/">Recipe&nbsp;Bazar</a></span>
    <br>
    <i class="fa fa-youtube recipeSocialMediaSize" style="color:rgb(182, 8, 8)"></i><span style="margin: 1% 2%;">Subscribe to our channel <div class="g-ytsubscribe" data-channelid="UCb6ZOWtuWWSMmULC1O6CCBA" data-layout="default" data-count="hidden"></div></span>
</div>
</div>
