<h3><strong>Tried this recipe?</strong> </h3>
<div class="row socialMediaCol">
  <div class="col-md-2 text-center shadow-sm p-3 m-3 bg-light rounded">
    <i class="fa fa-instagram instacolor"></i>
    <p style="margin: 1% 2%;">Take a picture of the food and mention us @recipe_bazar</p>
  </div>
  <div class="col-md-2 text-center shadow-sm p-3 m-3 bg-light rounded;">
    <i class="fa fa-facebook-square" style="color: rgb(55, 105, 199)"></i>
    <p style="margin: 1% 2%;">Share the recipe <iframe
        src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.recipebazar.com%2Fupma&layout=button&size=large&width=77&height=28&appId"
        width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe></p>
  </div>
  <div class="col-md-2 text-center shadow-sm p-3 m-3 bg-light rounded;">
    <i class="fa fa-twitter" style="color: rgb(16, 139, 221)"></i>
    <p style="margin: 1% 2%;">Take a picture of the food and mention us #recipe_bazar</p>
  </div>

  <div class="col-md-2 text-center shadow-sm p-3 m-3 bg-light rounded;">
    <i class="fa fa-pinterest" style="color:rgb(133, 4, 4)"></i>
    <p style="margin: 1% 2%;">Save our recipe <a data-pin-do="buttonFollow"
        href="https://in.pinterest.com/recipebazar/">Recipe&nbsp;Bazar</a></p>
  </div>

  <div class="col-md-2 text-center shadow-sm p-3 m-3 bg-light rounded;">
    <i class="fa fa-youtube" style="color:rgb(182, 8, 8)"></i>
    <p style="margin: 1% 2%;">Subscribe to our channel </p>
    <div class="g-ytsubscribe" data-channelid="UCb6ZOWtuWWSMmULC1O6CCBA" data-layout="default" data-count="hidden">
    </div>
  </div>
</div>
