  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-md-12">
        <img src="assets/img/upma.png" alt="upma" class="img-fluid"  />
      </div>
    </div>
  </div>
<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col mx-auto">
      <div class="card">
        <div class="card-header text-center recipeCardHead">
          <h2><strong>Upma recipe</strong></h2>
          <p class="lead">Posted on 19 April, 2020</p>
        </div>
        <div class="card-body recipeCardBody">
          <div class="row">
            <div class="row">
              <div class="col-md-12">
               <p class="lead">Tried this recipe? Share it on </p>

              </div>
            </div>
            <div class="col-md-12">
              <button type="button" class="btn btn-primary" style="margin:1%;">Preparation time: 5 min</button>
              <button type="button" class="btn btn-primary" style="margin:1%;">Cook time: 15 min</button>
              <button type="button" class="btn btn-primary" style="margin:1%;">Servings: 2</button>
              <button type="button" class="btn btn-primary" style="margin:1%;">Author: Recipe Bazar</button>
            </div>
          </div>
          <hr style="border-top: 0.3rem dashed grey">
          <div class="row">
            <div class="col-md-6">
              <h3>Ingredients</h3>
                <ul>
                  <li>Semolina(suji) - 2 cups </li>
                  <li>Oil - 1 tbsp </li>
                  <li>Cumin - 1tbsp </li>
                  <li>Green Chilli - 2 chopped </li>
                  <li>Red chilli - 2 </li>
                  <li>Peanuts - 2 tbsp </li>
                  <li>Bengal gram(chana dal) - 2 tbsp </li>
                  <li>Cashew (optional) - 2 tbsp </li>
                  <li>Salt - According to taste </li>
                  <li>Water - 2 cups </li>
                </ul>
            </div>
            <div class="col-md-6">
              <h3>Preparation</h3>
                  <ul>
                    <li>Saute semolina until aroma comes on low flame </li>
                    <li>Heat oil in a pan</li>
                    <li>Add cumin, green chilli and red chilli and saute for a minute</li>
                    <li>Add peanuts, cashew and chana dal and fry until golden brown</li>
                    <li>Add water and stir</li>
                    <li>Add salt as needed</li>
                    <li>Bring the water to boil</li>
                    <li>Add sauteed semolina to the mixure and stir continuously to avoid any lumps</li>
                    <li>Close the lid and cook for 10 min</li>
                  </ul>
            </div>
          </div>
          <br>
          <hr style="border-top: 0.3rem dashed grey">
          <div class="row">
            <div class="col-md-12">
              <h3>Tips</h3>

                  <ul>
                    <li>Saute semolina until aroma comes on low flame </li>
                    <li>Heat oil in a pan</li>
                    <li>Add cumin, green chilli and red chilli and saute for a minute</li>
                    <li>Add peanuts, cashew and chana dal and fry until golden brown</li>
                    <li>Add water and stir</li>
                    <li>Add salt as needed</li>
                    <li>Bring the water to boil</li>
                    <li>Add sauteed semolina to the mixure and stir continuously to avoid any lumps</li>
                    <li>Close the lid and cook for 10 min</li>
                  </ul>

            </div>
          </div>
          <br>
          <hr style="border-top: 0.3rem dashed grey">
          <div class="row">
            <div class="col-md-12">
            <div class="">
              <div class="tim-title">
                <h3>Recipe Video</h3>
                <br />
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/0fX4h6ffrUc" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
            </div>
          </div>
          <br>
          <hr style="border-top: 0.3rem dashed grey">
          <div class="row">
            <div class="">
              <div class="tim-title">
                <h3>Step by Step instructions</h3>
              </div>
              <br>
              <div >

                  1. Saute semolina until aroma comes on low flame
                  <br>
                  <br>
                  <div class="instruction-img">
                    <img src="assets/img/upma.jpg" alt="">
                  </div>
                  <br>
                 2. Heat oil in a pan
                 <br>
                  <br>
                  <div class="instruction-img">
                    <img src="assets/img/upma.jpg" alt="">
                  </div>
                  <br>
                  3. Add cumin, green chilli and red chilli and saute for a minute
                  <br>
                  <br>
                  <div class="instruction-img">
                    <img src="assets/img/upma.jpg" alt="">
                  </div>
                  <br>
                  4. Add peanuts, cashew and chana dal and fry until golden brown
                  <br>
                  <br>
                  <div class="instruction-img">
                    <img src="assets/img/upma.jpg" alt="">
                  </div>
                  <br>
                  5. Add water and stir<br>
                  <br>
                  <div class="instruction-img">
                    <img src="assets/img/upma.jpg" alt="">
                  </div>
                  <br>
                6. Add salt as needed
                <br>
                <br>
                  <div class="instruction-img">
                    <img src="assets/img/upma.jpg" alt="">
                  </div>
                  <br>
                  7. Bring the water to boil<br><br>
                  <div class="instruction-img">
                    <img src="assets/img/upma.jpg" alt="">
                  </div>
                  <br>
                  8. Add sauteed semolina to the mixure and stir continuously to avoid any lumps<br><br>
                  <div class="instruction-img">
                    <img src="assets/img/upma.jpg" alt="">
                  </div>
                  <br>
                  9. Close the lid and cook for 10 min<br><br>
                  <div class="instruction-img">
                    <img src="assets/img/upma.jpg" alt="">
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
