
<!-- Footer -->
<footer class="page-footer font-small" style="background-color: lightgrey;">

  <!-- Footer Links -->
  <div class="container">
    <div class="row pb-3">
      <div class="col-md-12">
        <div class="text-center">
        <ul class="horizontalList">
          <li>
            <a rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
            href="https://www.instagram.com/" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
          </li>
          <li>
            <a rel="tooltip" title="Like us on Facebook" data-placement="bottom"
            href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook-square"></i>
          </a>
          </li>
          <li>
            <a rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
            href="https://twitter.com/" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          </li>
          <li >
            <a rel="tooltip" title="Subscribe to our Youtube Channl" data-placement="bottom"
            href="https://www.youtube.com/" target="_blank">
            <i class="fa fa-youtube"></i>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Recipe Bazar</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
