/* You can add global styles to this file, and also import other style files */

/* Global Styles */
body, p {
  font-family: 'Zilla Slab', serif;
  font-size: 1.2rem;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Martel', serif;
}

.anchorDefault{
  color: white;
  text-decoration: none;
}

.brandLogo{
  width: 20%;
  height: auto;
}

.instacolor{
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* Recipe template styles */
.recipeCardBody {
  background-image: url('assets/img/trianglepattern.png');
}

.recipeCardHead {
  padding: 3%;
  background-image: url('assets/img/dark-paths.png');
  /* background-color:#14213d; */
  color: white;
}

.prepButtons button{
border: none;
font-weight: 400;
margin:1%;
padding: 1%;
/* background-image: url('assets/img/prism.png'); */
color: white;
background-color:#14213d;
}

.prepButtons button:hover{
  background-color: #14213d;
}

.instruction-img img{
  width:80%;
  max-width: 80%;
  border-radius: 2%;
  margin-left: 2%;
}

.recipeImg img{
  width:100%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%;
}

.listspace{
  padding: 0 15%;
}

.masthead {
  height: 120vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.namemasthead{
  height: 15vh;
  min-height: 70px;
  color: black;
}

.namemasthead h1{
  font-size: 1.5rem;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
  background-size:contain;
  /* width:110%; */
  background-repeat:no-repeat;
}

@media only screen and (max-width: 720px) {
  .instruction-img img {
    width:100%;
    height: auto;
    border-radius: 2%;
  }

  .recipeBazarlogo{
    width: 100%;
    height: auto;
  }

  .namemasthead{
    height: 20vh;
    min-height: 70px;
    color: black;
  }

  .namemasthead h1{
   font-size: 1.5rem;
  }

  .brandLogo{
    width: 40%;
    height: auto;
  }
}


@media only screen and (min-width: 1920px) {
  .brandLogo{
    width: 50%;
    height: auto;
  }

  body, p {
    font-size: 2rem;
  }
}


