/* You can add global styles to this file, and also import other style files */
body, p {
  font-family: 'Zilla Slab', serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.recipeCardBody {
  background-image: url('assets/img/trianglepattern.png');
}


.recipeCardHead {
  background-image: url('assets/img/wheat.png');
  background-color:transparent;
  color: white;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Martel', serif;
}

.prepButtons button{
background-image: url('assets/img/wheat.png');
border: none;
font-weight: 600;
}

.instacolor{
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.brandLogo{
  width: 20%;
  height: auto;
}

.instruction-img img{
  width:80%;
  max-width: 80%;
  border-radius: 2%;
}

.recipeImg{
  width:100%;
  max-width: 100%;
}

.listspace{
  padding: 0 15%;
}

@media only screen and (max-width: 720px) {
  .instruction-img img {
    width:100%;
    height: auto;
    border-radius: 2%;
  }

  .recipeBazarlogo{
    width: 100%;
    height: auto;
  }

  .brandLogo{
    width: 40%;
    height: auto;
  }
}

.masthead {
  height: 15vh;
  min-height: 50px;
  background-color: rgb(241, 245, 225);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
  background-size:contain;
  /* width:110%; */
  background-repeat:no-repeat;
}

